section.about-us
    .container
        .row
            .about-us-text
                .about-us-header
                    h3 Used Cars Brighton, East Sussex
                .about-us-description
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum pharetra accumsan. Proin tempus diam vel nisl ultricies lacinia. Nunc non turpis ac urna venenatis suscipit sed eu dui. Donec ac ex placerat, rutrum tellus rhoncus, accumsan urna. Etiam scelerisque viverra nulla, quis interdum arcu tincidunt at. Quisque ut tortor blandit, tincidunt purus in, ornare ligula. Aliquam efficitur libero nec augue bibendum rutrum. Aenean quis ipsum tincidunt, maximus diam id, dictum purus. Maecenas consequat tempor convallis. Vivamus elementum interdum mauris non mattis. Nulla eget fermentum nibh, sollicitudin rutrum nisl.
