.navbar-brand
    .navbar-brand__inner
        .navbar-brand__left-side
            .navbar-brand__left-side_logo
                | Car
                span(style='color:red') Cube
            .navbar-brand__left-side_description part of 67degrees

        .navbar-brand__right-side
            p
               span(style='color:red') Call
               |  01237 123456
