section.brand_slider
    .brand_slider__container
        div
            img(src="../../img/primary-image.jpg")
        div
            img(src="../../img/primary-image.jpg")
        div
            img(src="../../img/primary-image.jpg")
