section.cards
    .container
        .row
            .col-12.col-md-6.col-lg-3
                .cards-item
                    .cards-item-img
                        img(src="../../img/used-cars.jpg")
                    .cards-item-content
                        h2 Used Cars
                        p Sed consequat eget dolor nec accumsan. Suspendisse eget nunc dapibus
            .col-12.col-md-6.col-lg-3
                .cards-item
                    .cards-item-img
                        img(src="../../img/service.jpg")
                    .cards-item-content
                        h2 Service
                        p Maecenas metus lectus, pretium eget varius eget, pretium et dolor.
            .col-12.col-md-6.col-lg-3
                .cards-item
                    .cards-item-img
                        img(src="../../img/finance.jpg")
                    .cards-item-content
                        h2 Finance
                        p Sed commodo venenatis ullamcorper. Phasellus orci nisi, pharetra nec quam in, eleifend .
            .col-12.col-md-6.col-lg-3
                .cards-item
                    .cards-item-img
                        img(src="../../img/warranty.jpg")
                    .cards-item-content
                        h2 Warranty
                        p Maecenas urna orci, porta nec mauris sit amet, luctus blandit lacus.
