section.feature-slider
        .feature-slider-items
                .col-12
                    .feature-slider-item
                        .feature-slider-item-img
                            img(src="../../img/featured-vehicle.png")
                            .feature-slider-item-img-heart
                                img(src="../../img/heart.svg")
                        .feature-slider-item-content
                            h3 2105 Nissan Micra
                            h4 1.2 Acenda 5dr
                            p £3,980
                .col-12
                    .feature-slider-item
                        .feature-slider-item-img
                            img(src="../../img/featured-vehicle.png")
                            .feature-slider-item-img-heart
                                img(src="../../img/heart.svg")

                        .feature-slider-item-content
                            h3 2105 Nissan Micra
                            h4 1.2 Acenda 5dr
                            p £3,980
                .col-12
                    .feature-slider-item
                        .feature-slider-item-img
                            img(src="../../img/featured-vehicle.png")
                            .feature-slider-item-img-heart
                                img(src="../../img/heart.svg")
                        .feature-slider-item-content
                            h3 2105 Nissan Micra
                            h4 1.2 Acenda 5dr
                            p £3,980
                .col-12
                    .feature-slider-item
                        .feature-slider-item-img
                            img(src="../../img/featured-vehicle.png")
                            .feature-slider-item-img-heart
                                img(src="../../img/heart.svg")
                        .feature-slider-item-content
                            h3 2105 Nissan Micra
                            h4 1.2 Acenda 5dr
                            p £3,980
                .col-12
                    .feature-slider-item
                        .feature-slider-item-img
                            img(src="../../img/featured-vehicle.png")
                            .feature-slider-item-img-heart
                                img(src="../../img/heart.svg")
                        .feature-slider-item-content
                            h3 2105 Nissan Micra
                            h4 1.2 Acenda 5dr
                            p £3,980
                .col-12
                    .feature-slider-item
                        .feature-slider-item-img
                            img(src="../../img/featured-vehicle.png")
                            .feature-slider-item-img-heart
                                img(src="../../img/heart.svg")
                        .feature-slider-item-content
                            h3 2105 Nissan Micra
                            h4 1.2 Acenda 5dr
                            p £3,980
                .col-12
                    .feature-slider-item
                        .feature-slider-item-img
                            img(src="../../img/featured-vehicle.png")
                            .feature-slider-item-img-heart
                                img(src="../../img/heart.svg")

                        .feature-slider-item-content
                            h3 2105 Nissan Micra
                            h4 1.2 Acenda 5dr
                            p £3,980
                .col-12
                    .feature-slider-item
                        .feature-slider-item-img
                            img(src="../../img/featured-vehicle.png")
                            .feature-slider-item-img-heart
                                img(src="../../img/heart.svg")
                        .feature-slider-item-content
                            h3 2105 Nissan Micra
                            h4 1.2 Acenda 5dr
                            p £3,980
