section.filters
    .filters-inner
        form
            .container
                .row
                    .col-12.col-md-6.col-lg-3
                        select.filters-select
                            option All Makes
                            option Something
                            option Something

                    .col-12.col-md-6.col-lg-3
                        select.filters-select
                            option All Models
                            option Something
                            option Something
                    .col-12.col-md-6.col-lg-3
                        select.filters-select
                            option Min Price
                            option Something
                            option Something
                    .col-12.col-md-6.col-lg-3
                        select.filters-select
                            option Max Price
                            option Something
                            option Something
            button.filters-button(type="submit") Search
