footer.footer
    .footer-container
        .footer-container-social
            img(src="../../img/facebook.svg")
            img(src="../../img/google.svg")
            img(src="../../img/inst.svg")
            img(src="../../img/twitter.svg")
        .footer-container-marks
            ul
                li Nissan
                li Audi
                li Vauxhall
                li Toyota
                li Ford
                li BMW
                li Seat
                li Land Rover
        .footer-container-disclaimers
            ul
                li Disclaimer
                li Cookie Policy
        .footer-container-adress
            p Address Line 1, Address Line 2, Town, County, Post Code
        .footer-container-copyright
            p
            span &#169
                |
            | 2016 All Rights Reserved
            p Website by 67degrees
