nav.navbar
  .navbar__inner
    .navbar__left-side
      .navbar__left-side_logo
        | Car
        span(style='color:red') Cube
    ul.navbar__right-side
      li.navbar__item
        a(href="#") Home
      li.navbar__item
        a(href="#") Used Cars
      li.navbar__item
        a(href="#") Service
      li.navbar__item
        a(href="#") Finance
      li.navbar__item
        a(href="#") Warranty
      li.navbar__item
        a(href="#") About Us
      li.navbar__item
        a(href="#") Contact Us
    .navbar__hamburger
      span
      span
      span



