@import "mixins/font-mixins.scss";

.breadcrumbs {
  @include font-stm;
  background-color: #4C4C4C;
  color: white;
  padding: 20px 40px;
  box-shadow: 0 5px 5px white;
  .arrows {
    white-space: nowrap;

    li {
      display: inline-block;
      line-height: 26px;
      margin: 0 9px 0 -10px;
      padding: 0 20px;
      position: relative;

      &:before {
        border-right: 3px solid #9B9B9B;
        content: '';
        display: block;
        height: 20%;
        position: absolute;
        left: 0;
        right: 0;
        top: 9px;
        z-index: 10;
        transform: skewX(45deg);
      }

      &:after {
        border-right: 3px solid #9B9B9B;
        content: '';
        display: block;
        height: 20%;
        position: absolute;
        left: 0;
        right: 0;
        top: auto;
        bottom: 7px;
        z-index: 10;
        transform: skewX(-45deg);
      }
      &:last-of-type {
        &:after,&:before {
          display: none;
        }
      }
    }
  }
}

